<div class="container posts-page">
  <div class="post row" ng-repeat="post in posts">
    <div class="col-xs-1">
    </div>
    <div class="col-md-9 col-xs-11">

      <div class="info">
        <a ng-href="#/posts/{{ post.$id }}">
			{{ post.title }}
        </a>
      </div>
      <div>
        <span>submitted by <a ng-href="#/users/{{ post.creatorUID }}">{{ post.creator }}</a></span>
        &mdash;
        <a class="anchor" ng-click="deletePost(post)" ng-show="user.uid === post.creatorUID">delete</a>
      </div>
    </div>
  </div>
</div>
