<div class="container posts-page">

  <div class="post row">
    <div class="col-xs-1">
    </div>
    <div class="col-md-9 col-xs-11">
      <div class="info">
		  <h2>{{ post.title }}</h2>
          <span class="col-md-12">{{ post.text}}</span>
      </div>
      <div>
        <span>
          submitted by
          <a ng-href="#/users/{{ post.creatorUID }}">
            {{ post.creator }}
          </a>
        </span>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>

	<div ng-repeat="comment in comments" class="row cmt">
	  <div class="col-md-12">
		<p>{{ comment.text }}</p>
		<p class="author">posted by
		  <a ng-href="#/users/{{ comment.creatorUID }}">
			{{ comment.creator }}
		  </a>
		  <a ng-href="" class="anchor"
			  ng-click="deleteComment(comment)"
			  ng-show="signedIn() && comment.creatorUID === user.uid">
			(delete)
		  </a>
		</p>
	  </div>
	</div>

  <div class="cmt-form">
    <div ng-hide="signedIn()">
      <p><a href="#/login">Sign in</a> to post a comment</p>
    </div>

    <form ng-show="signedIn()" ng-submit="addComment()">
      <textarea
        ng-model="commentText"
        placeholder="Post a Comment"
        class="form-control"></textarea><br />
      <input type="submit" value="Post Comment" class="btn btn-primary" />
    </form>
  </div>

</div>
